// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// spawn-at-startup "waybar"

spawn-at-startup "swww-daemon"
spawn-at-startup "sh" "{{randomize_wallpaper_script}}"

spawn-at-startup "xwayland-satellite" ":0"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

hotkey-overlay {
    skip-at-startup
}