window {
    background-color: transparent;
}

.arch-icon {
    min-width: 30px;
    min-height: 25px;
    margin-right: 4px;
    -gtk-icon-size: 20px;
    // Filter to be grayscale and make #932f80
    filter: hue-rotate(100deg) saturate(1.0) brightness(0.9);
}

// TODO: Don't hardcode these colors; theming

.bar {
    background-color: #11121b;
    color: #fff;
    font-size: 16px;
    padding: 2px 0 0 0;
    font-family: "Consolas";
}

.module-wrapper {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.window-title {
    color: hsl(306, 40%, 40%);
    margin-left: 4px;
}
.clock {
    color: hsl(237, 54%, 60%);
    margin-right: 8px;
}
.battery {
    color: hsl(240, 51%, 60%);
    margin-right: 32px;
}

.launcher {
    .search-box {
        background-color: #1e1e2a;
        border: none;
        margin: 10px;
        color: white;
    }
}