$CUSTOM_BG_COLOR: #11121B;
$CUSTOM_WINDOW_BG_COLOR: #11121B;
$CUSTOM_SECONDARY_BG_COLOR: #1E1E2A;
$CUSTOM_SECONDARY_BACKDROP_COLOR: #1E1E2A;
$CUSTOM_DIALOG_BG_COLOR: #1E1E2A;
// It's best if this is transparent so multiple layers have distinct colors
$CUSTOM_CARD_BG_COLOR: rgba(200, 200, 255, 0.0784);