.launcher {
  width: 400px;
  max-height: calc(100vh - var(--bar-thickness) - var(--non-bar-border-thickness));
  display: flex;
  flex-direction: column;

  input {
    background-color: var(--panel1);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    color: #ccc;
    font-family: "Consolas";
  }

  .results-wrapper {
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.2);
    overflow: hidden;
  }
  .results {
    display: flex;
    flex-direction: column;
  }
  .status-label {
    padding: 8px;
    font-size: 16px;
    text-align: center;
  }
  .module {
    display: flex;
    flex-direction: column;
  }
  .module-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--subtext);
  }
  .entries {
    display: flex;
    flex-direction: column;
  }
  .entry {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;

    transition: background-color 0.2s ease-out;

    .entry-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: translate 0.2s cubic-bezier(0.25, 0.1, 0.25, 1.75);
    }

    .icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 5px;
    }

    .text {
      display: flex;
      flex-direction: column;
    }
    .name {
      font-size: 1em;
      color: var(--subtext);
    }
    .description {
      font-size: 0.85em;
      color: var(--subtext);
      // Allow newlines
      white-space: pre-wrap;
    }

    &.hovered {
      background-color: var(--panel1);
    }
    &.highlighted {
      background-color: var(--panel1);

      .entry-content {
        translate: 10px 0;
      }
    }
  }
}