#systrayItems {
    width: var(--bar-thickness);
    display: flex;
    flex-direction: column;
    align-items: center;

    .systray-icon {
        position: relative;
        width: var(--bar-thickness);
        height: var(--bar-icon-size);
        margin-bottom: 0.25rem;
    }

    .icon {
        // Stack icon children
        position: absolute;
        inset: 0 calc((var(--bar-thickness) - var(--bar-icon-size)) / 2);
        z-index: 1;
        transition: filter 0.2s ease, opacity 0.2s ease;
    }

    .normal-image {
        z-index: 0;
        background: inherit;
        background-size: cover;
    }
    .systray-icon.hovered .normal-image {
        filter: brightness(1.5);
    }

    .gradient-image {
        opacity: 1;
    }
    &.hovered .gradient-image {
        opacity: 0;
    }
}