@use "launcher";
@use "bar";
@use "notifications";
@use "utils" as *;

:root {
  font-family: "Consolas", monospace;

  color: white;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bar-thickness: 26px;
  --non-bar-border-thickness: 6px;
  --background: #11121b;
  --panel1: #1e1e2a;
  --subtext: #ccc;

  --gradient-start: #c33764;
  --gradient-end: #1d2671;

  --gradient-start-light: color-mix(in srgb, var(--gradient-start), white 20%);
  --gradient-end-light: color-mix(in srgb, var(--gradient-end), white 20%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  inset: 0;

  #popups {
    position: absolute;
    top: var(--bar-thickness);
    left: var(--bar-thickness);
    bottom: var(--non-bar-border-thickness);
    right: var(--non-bar-border-thickness);

    .popup {
      // background-color: #ff000044;
      padding: 10px;
      margin: -10px;
      --duration: 0.25s;
      // A ease-like transition with a very minor bounce
      --easing: cubic-bezier(0.25, 0.1, 0.1, 1.0);
      transition:
        top var(--duration) var(--easing),
        left var(--duration) var(--easing),
        bottom var(--duration) var(--easing),
        right var(--duration) var(--easing),
        opacity var(--duration) var(--easing);
    }
  }
}

span {
  @include background-gradient;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 14px;

  // Makes the text look more visually centered
  padding-top: 3px;

  // Avoid the text shifting vertically no matter what glyphs are shown
  line-height: 1.2;
}

.gradient-image {
  @include background-gradient;
  aspect-ratio: 1;
  mask-size: cover;
}